#C++ and XCode
*/*/*.xcodeproj
*/*/googletest

#Java
*/*/bin
*/*/doc

#Hidden files
*/*/.*

#Python
*/*/*.pyc

#Android
*/*.iml
*/.gradle
*//local.properties
*/.idea/workspace.xml
*/.idea/libraries
*/.DS_Store
*//build
*/captures
*/.externalNativeBuild


#Other
*/*/*.zip
