<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.csci448.dkern_a2.fourinarow">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name="com.csci448.dkern_a2.fourinarow.WelcomeActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.csci448.dkern_a2.fourinarow.OptionsActivity"
			android:parentActivityName="com.csci448.dkern_a2.fourinarow.WelcomeActivity"
			android:theme="@style/AppThemeNoActionBar">
		</activity>
		<activity android:name="com.csci448.dkern_a2.fourinarow.GameActivity"
			android:label="@string/app_name"
			android:parentActivityName="com.csci448.dkern_a2.fourinarow.WelcomeActivity"
			android:theme="@style/AppThemeNoActionBar">
		</activity>
	</application>

</manifest>